@import "tailwindcss";

@theme {
	--font-press: var(--font-press);
	--font-roboto: var(--font-roboto);
	--font-google: var(--font-google);
	--font-space: var(--font-space);
	--font-lexend: var(--font-lexend);
	--font-oxanium: var(--font-oxanium);

	--color-retro-dark: #1b1b1b;
	--color-retro-light: #363636;
	--color-retro-orange: #ff8359;
	--color-retro-green: #00ffb9;
	--color-error: #d91616;

	--animate-fade-in: fade-in 0.5s ease-out;

	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@layer base {
	body {
		@apply font-mono text-white bg-retro-dark;
	}
}

@layer components {
	.section {
		@apply mb-48 pt-20 mx-auto;
	}

	.section-title {
		@apply font-press text-3xl lg:text-5xl uppercase font-bold tracking-wider;
	}

	.license-title {
		@apply text-xl font-bold text-retro-orange mb-3;
	}

	.nav-highlight {
		@apply hover:bg-retro-orange hover:text-white hover:px-4 hover:py-1 hover:rounded hover:shadow-[0_0_15px_rgba(255,107,53,0.5)];
	}

	.nav-link {
		@apply font-google active:scale-[0.95] px-4 py-2 transition-all duration-100 rounded-md text-sm font-bold tracking-widest text-white uppercase hover:text-retro-orange;
	}

	.mobile-nav-link {
		@apply font-google text-sm font-bold tracking-widest text-white uppercase transition-colors hover:text-retro-orange;
	}

	.connect-btn {
		@apply min-w-50 font-roboto active:scale-[0.95] px-6 py-3 text-base font-bold tracking-widest text-white uppercase transition-all duration-100 bg-retro-orange hover:brightness-90;
	}

	.mint-btn {
		@apply font-lexend active:scale-[0.95] px-20 py-4.5 text-3xl font-bold tracking-tight text-white uppercase transition-all duration-100 bg-retro-orange hover:brightness-90;
	}

	.footer-link {
		@apply text-gray-300 hover:text-retro-orange transition-colors duration-200;
	}
}

/* 3. Keep @utility for custom logic */
@utility pixelated {
	image-rendering: pixelated;
}
